#home {
	background: #c1b799;
	color: white;
}

.caixa {
	padding: 60px 0;
	border-bottom: 1px solid #e5e5e5;
}
}

form {
    font-family: Verdana,Tahoma,sans-serif;
    font-size: 500px;
    background-color: #CC3300;
    max-width: 7000px;
}


